.headerContainer{
    background:gray;
    width:100%;
    height:4rem;
    color:white;
    align-items:center;
    display:flex;
}
.title{
    font-weight:bold;
    display:flex;
    justify-content:flex-start;
    font-size:20px;
}