.mainContainer{
    height:37rem;
    width:100%;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column
}
.header{
    font-size:30px;
    font-weight:bold
}
.userList{
    margin-top:2rem
}
.close{
    margin-left:7rem;
    margin-top:3rem
}
.time{
    margin-top:2rem;
    font-size:20px
}
